<section class="form-content">
    <div class="container">
        <div class="profile-img">
            <label for="user-img">
                <img [src]="profileImg" alt="" class="profile">
            </label>
            <input type="file" id="user-img" class="file" (change)="asignImage( $event )">
        </div>
    
        <div class="form-container">
            <form [formGroup]="register" (ngSubmit)="createUser(register)">
                <ng-container>
                    <mat-form-field appearance="fill">
                        <mat-label>Empresa</mat-label>
                        <input matInput type="text" formControlName="companyName">
                        <mat-icon matSuffix>account_circle</mat-icon>
                        <mat-error *ngIf="register.invalid">
                            * El campo es requerido
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre y Apellido</mat-label>
                        <input matInput type="text" formControlName="fullName">
                        <mat-icon matSuffix>badge</mat-icon>
                        <mat-error *ngIf="register.invalid">
                            * El campo es requerido
                        </mat-error>
                    </mat-form-field>
                </ng-container>
        
                <ng-container>
                    <mat-form-field appearance="fill">
                        <mat-label>Correo</mat-label>
                        <input matInput type="email" formControlName="email">
                        <mat-icon matSuffix>mail</mat-icon>
                        <mat-error *ngIf="register.invalid && !emailTaken">
                            * El campo es requerido
                        </mat-error>
                        <mat-error *ngIf="emailTaken">
                            * El correo ingresado ya esta registrado
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field appearance="fill">
                        <mat-label>Confirmar correo</mat-label>
                        <input matInput type="email" formControlName="emailConfirm">
                        <mat-icon matSuffix>mail</mat-icon>
                        <mat-error *ngIf="register.invalid">
                            * Los correos deben coincidir
                        </mat-error>
                    </mat-form-field>
                </ng-container>
          
                <ng-container>
                    <mat-form-field appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input matInput type="password" formControlName="password">
                        <mat-icon matSuffix>keyt</mat-icon>
                        <mat-error *ngIf="register.invalid">
                            * La contraseña debe incluir números y letras minusculas y mayusculas.
                        </mat-error>
                    </mat-form-field>
              
                    <mat-form-field appearance="fill">
                        <mat-label>Confirmar contraseña</mat-label>
                        <input matInput type="password" formControlName="passwordConfirm">
                        <mat-icon matSuffix>keyt</mat-icon>
                        <mat-error *ngIf="register.invalid">
                            * Las contraseñas deben coincidir
                        </mat-error>
                    </mat-form-field>
                </ng-container>
            
                <button mat-fab extended color="primary" class="featured">
                    <mat-icon>how_to_reg</mat-icon>
                    Registrar
                </button>

                
                <div class="featured linkLogin">
                    <span>¿Ya tienes cuenta? <b routerLink="/core/login">Ingresa.</b></span>
                </div>
            </form>
        </div>
    </div>
</section>

<app-loader *ngIf="showLoader"></app-loader>
  
  
  