<main class="view-container">
    <div class="view-content">
        <section class="user-content">
            <div class="user-media">
                <img [src]="userData.logoImg" [alt]="userData.name" class="user-img">
            </div>
            <div class="userData">
                <ul class="userList">
                    <li>
                        <mat-icon>store</mat-icon>
                        <span>{{userData.empresa}}</span>
                    </li>
                    <li>
                        <mat-icon>badge</mat-icon>
                        <span>{{userData.name}}</span>
                    </li>
                    <li>
                        <mat-icon>pin_drop</mat-icon>
                        <span>{{userData.direction}}</span>
                    </li>
                    <li>
                        <mat-icon>call</mat-icon>
                        <span>{{userData.phoneCall}}</span>
                    </li>
                </ul>
            </div>
            <div class="social-media">
                <a href="">
                    <img src="../../../../assets/img/instagram.png" alt="" class="social-icon">
                </a>
                <a href="">
                    <img src="../../../../assets/img/whatsapp.png" alt="" class="social-icon">
                </a>
            </div>
        </section>

        <section class="categorie-container">
            <app-categories></app-categories>
        </section>

        <section class="product-container">
            <app-card></app-card>
        </section>
    </div>

    <aside class="buy-card">
        <app-buy-car></app-buy-car>
    </aside>
</main>


