.view-container {
    min-height: 100vh;
    background: #F4F5F8;
}

.nav-view {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F4F5F8;
}

.search-form {
    margin-inline-start: 15px;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
    border-radius: 3rem;
    padding: 5px;
    overflow: hidden;
    transition: width .5s cubic-bezier(.9, 0, .3, .9);
}

.search-btn {
    border: none;
    outline: none;
    width: calc(100% - 64px);
    height: 100%;
    border-radius: 3rem;
    padding-left: 14px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.5s;
}

.search-btn:-webkit-autofill {
    box-shadow: 0 0 0 50px #fff inset;
}

.search-btns {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.search-btns > mat-icon {
    color: #ffffff;
    font-size: 1.3rem;
}

.show-input {
    width: 60%;
}

.show-input .search-btn {
    opacity: 1;
    pointer-events: initial;
}

.social-media {
    margin-inline-end: 15px;
    display: flex;
    gap: 8px;
    align-items: flex-end;
}

.social-icon {
    width: 25px;
}

.view-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #F4F5F8;
}

.user-content {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.userData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.user-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 15px;
}

.userList > li {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userList > li > mat-icon {
    margin-right: 3%;
}

.work-name {
    font-size: 20px;
    font-weight: bold;
}

app-categories {
    min-width: 100%;
    display: flex;
    gap: 15px;
    padding: 15px;
    overflow-x: auto;
}

app-categories::-webkit-scrollbar {
    -webkit-appearance: none;
}


@media screen and (min-width: 950px) {

    .show-input {
        width: 30%;
    }

    .userList > li {
        justify-content: flex-start;
    }
    
    .view-container {
        display: flex;
    }

    .flex-container {
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    app-buy-car {
        width: 25%;
    }
    
    .view-content {
        width: 100%;
        padding: 20px 10px;
    }
    
    .user-content {
        margin-top: 0;
        flex-direction: row;
        width: 100%;
    }
    
}
