.categorie {
    min-width: fit-content;
    height: 30px;
    padding: 3px 18px;
    border-radius: 20px;
    background-color: #F2C574;
    cursor: pointer;
    transition: all .500s ease;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
}

.categorie:hover {
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    transform: translateY(-8%);
}

.categorie > h4 {
    font-size: 14px;
}
