.categorie {
    width: auto;
    height: 30px;
    padding: 3px 12px;
    border-radius: 20px;
    background-color: rgb(217, 160, 17);
    cursor: pointer;
}

.categorie > h4 {
    font-size: 14px;
}
